/* YOUR STYLING HERE */
@import './variables';
@import './Folders';
@import './NotesPane';
@import  './Note';

.app {
  width: 1000px;
  height: 500px;
  margin: 20px auto;
  border: $grey-border;
}
.app-wrapper {
  height: 100%;
}
