.folders-pane {
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.folder-list {
  max-height: 420px;
  overflow-y: auto;
}

.new-folder-wrapper {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.plus-circle {
  display: inline-block;
  transform: translate(0px, 10px);
  color: $dark-grey;
  margin: 5px;
  transition: color 0.2s ease;
  &:hover {
    color: $blue;
  }
}

.new-folder-input {
  display: inline-block;
  width: 240px;
}

.folder-row {
  padding-left: 10px;
  &:hover {
    cursor: pointer;
  }
}

.folder-name {
  margin-left: 5px;
}

.color-blue {
  color: $light-blue;
}

.white {
  color: white;
}

.blue-background {
  background-color: blue;
}
